<section id="content">
    <div class="content-header">
        OHLCVM table
    </div>
    <div class="table-ticker">
        <input type="text" value="ex)   BTC" class="inputbox-ticker">
        <button class="inputbox-ticker-submit">Search</button>
    </div>
    <div class="ohlcvmtable">
        <div class="rowheader">
            <div class="header-cell">Date</div>
            <div class="header-cell">Open</div>
            <div class="header-cell">High</div>
            <div class="header-cell">Low</div>
            <div class="header-cell">Close</div>
            <div class="header-cell">Volume</div>
            <div class="header-cell">Mean</div>
            <div class="header-cell">Up-Down</div>
        </div>
        <% tableInfo.forEach(element => { %>
        <div class="row">
            <div class="cell"><%= element.time.toString() %></div>
            <div class="cell"><%= element.open %></div>
            <div class="cell"><%= element.high %></div>
            <div class="cell"><%= element.low %></div>
            <div class="cell"><%= element.close %></div>
            <div class="cell"><%= element.volume %></div>
            <div class="cell"><%= element.ma5 %></div>
            <div class="cell"><%= element.updown %></div>
        </div>
        <% }) %>
    </div>
</section>